<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ลอยกระทงออนไลน์ 🌕</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <audio autoplay loop>
        <source src="{{ url_for('static', filename='sounds/river_sound.mp3') }}" type="audio/mpeg">
    </audio>
    <main>
        {% block content %}{% endblock %}
    </main>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>