{% extends "base.html" %}

{% block content %}
<div class="page-container build-page">
    <a href="{{ url_for('main.index') }}" class="back-button">🏠 กลับหน้าแรก</a>
    
    <h2>เลือกกระทงของเธอได้เลย</h2>
    
    <div class="build-options">
        <div class="krathong-choice 
             {% if current_design == 'premade1' %}selected{% endif %}" 
             data-design="premade1">
            <img src="{{ url_for('static', filename='images/krathong_1.png') }}" alt="กระทงแบบ 1">
            <p>กระทงใบตอง</p>
        </div>
        
        <div class="krathong-choice 
             {% if current_design == 'premade2' %}selected{% endif %}" 
             data-design="premade2">
            <img src="{{ url_for('static', filename='images/krathong_2.png') }}" alt="กระทงแบบ 2">
            <p>กระทงดอกบัว</p>
        </div>

        <div class="krathong-choice 
             {% if current_design == 'premade3' %}selected{% endif %}" 
             data-design="premade3">
            <img src="{{ url_for('static', filename='images/krathong_3.png') }}" alt="กระทงแบบ 2">
            <p>กระทงโซคิ้วทึ</p>
        </div>

        <div class="krathong-choice 
             {% if current_design == 'premade4' %}selected{% endif %}" 
             data-design="premade4">
            <img src="{{ url_for('static', filename='images/krathong_4.png') }}" alt="กระทงแบบ 2">
            <p>กระทงหมีน้อย</p>
        </div>

    </div>
    
    <form method="POST" action="{{ url_for('main.build') }}" id="build-form">
        <input type="hidden" name="krathong_design" id="krathong_design_input" value="{{ current_design or 'premade1' }}">
        
        <button type="submit" class="btn-main">เสร็จแล้ว ไปลอยกระทงกันเถอะ 🌊</button>
    </form>
</div>
{% endblock %}