{% extends "base.html" %}

{% block content %}
<div class="page-container welcome-page" style="background-image: url('{{ url_for('static', filename='images/bg_welcome.jpg') }}');">
    <div class="center-box">
        <h1>ยินดีต้อนรับเข้าสู่การลอยกระทงของเรา 💞</h1>
        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash-error">{{ messages[0] }}</div>
            {% endif %}
        {% endwith %}

        <form method="POST" action="{{ url_for('main.index') }}" id="name-form">
            <input type="text" name="name" placeholder="ใส่ชื่อมาได้เลยค้าบ..." required>
            <button type="submit" class="btn-main">เริ่มประกอบกระทง</button>
        </form>
    </div>
</div>
{% endblock %}